[Desktop Entry]
Name=Obsidian-Glass
Comment=Obsidian-Glass Window Decoration
X-KDE-PluginInfo-Author=Ashikur Rahman Shad
X-KDE-PluginInfo-Email=ashikur.rahman.shad.arstrx@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Name=Obsidian-Glass
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
