[Desktop Entry]
Name=Obsidian-Glass
Comment=MacOS Like Obsidian Glass Theme Forked From WhiteSur

X-KDE-PluginInfo-Author=Ashikur Rahman Shad
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=ashikur.rahman.shad.arstrx@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=Obsidian-Glass
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=WhiteSur-dark
defaultFileSuffix=.png
defaultHeight=2160
defaultWidth=3840

[ContrastEffect]
enabled=false
contrast=0.3
intensity=1.9
saturation=1.9

[AdaptiveTransparency]
enabled = true

[Settings]
FallbackTheme=oxygen

[BlurBehindEffect]
enabled=true
